/* Estilos para la barra de navegación */
.navbar {
  background-color: #333;
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
  margin-bottom: 5%;
  display: flex;
  justify-content: space-between; /* Alinear elementos al inicio y al final */
}

.navbar a.navbar-brand {
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Utilizar flexbox para los elementos de navegación */
}

.navbar ul li {
  margin-right: 10px; /* Espacio entre los elementos */
}

.navbar ul li a {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 16px;
}

.navbar ul li a:hover, .navbar ul li a.active {
  background-color: #555;
  border-radius: 5px;
}

/* Ajuste para dispositivos móviles */
@media (max-width: 768px) {
  .navbar ul {
      display: block;
      width: 100%;
  }

  .navbar ul li {
      display: block;
      text-align: center;
      margin-right: 0; /* Eliminar el margen derecho en dispositivos móviles */
  }

  .navbar-toggler-icon {
      display: none;
  }
}

/* Estilos para los botones de inicio de sesión, registro y cerrar sesión */
.navbar-right {
  display: flex;
  align-items: center; /* Alinear elementos verticalmente */
}

.navbar-right li.nav-item {
  margin-left: 10px; /* Espacio entre los elementos */
}

.navbar-right li.nav-item a.nav-link {
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.navbar-right li.nav-item a.nav-link:hover {
  background-color: #555;
  border-radius: 5px;
}
